<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="Css/Style.css">
    <title>Tela de Perfil</title>
</head>
<body>
    <header class="menu">
        <section class="nav">
            <div class="logo">
                <img src="img/Instadev.png" alt="Logo do Instadev" >
            </div>

            <div class="search"> 
                <button class="submit-lupa" type="submit">
                    <i class="fa fa-search"></i>
                </button>
                <input type="text" placeholder="Pesquisar" class="search-input"/>

            </div>

            <div class="menu-btn">
                    <i class="fas fa-home"></i>
                    <i class="far fa-paper-plane"></i>
                    <i class="far fa-compass"></i>
                    <i class="far fa-heart"></i>
                <div class="perfil1">
                    <img src="img/thank-you 1.png" alt="Foto de perfil">
                </div>
            </div>
        </section>
    </header>
    <main>
        <section class="biografia">
            <div class="bio">
                <div class="perfil2">
                    <img src="img/thank-you 2.png" alt="Foto de Perfil">
                </div>

                <div class="descricao-perfil">
                    <h2>yes_baby</h2>
                    <div class= "pss">
                        <p>1 Publicações</p> 
                        <a href="#">100 seguindo</a> 
                        <a href="#">2 seguidores</a>
                    </div>
                    <div class="edicao">
                        <h4>Marcos Jeeves</h4>
                        <a href="#">Editar perfil</a>
                    </div>                    
                </div>
            </div>
        </section>
        <hr>
        <section class="public">
            <div>
                <div class="picture">
                    <img src="img/icone 1.png" alt="Publicações">
                    <h1>Publicações</h1>
                </div>
                <div class="publicacao">
                    <div class="img-publicacao">
                        <img src="img/baby.png" alt="">
                    </div>
                    <div class="descricao-foto">
                        <div class="foto-perfil-lugar">

                            <div>
                                <img src="img/thank-you 2.png" alt="Perfil">
                            </div>
                            <div class="desc-text">
                                <h1><a>Marcos Jeeves</a></h1>
                                <p><a href="#">Los Angeles, Uruguai</a></p>
                            </div>
                        </div>
                        <div class="heart-comment">
                            <div class="Like">
                                <img src="img/Vector (1).png" alt="Curtir">
                            </div>
                            <div class="Ballon">
                                <img src="img/ballon.png" alt="Comentários">
                            </div>
                        </div>
                        <p class="curtidas">100 curtidas</p>
                        <div class="container">
                            <div class="users-comment">
                                <h4>fausto_silva</h4>
                                <p>Esse cara é fera bixo!!</p>
                            </div>
                            <div class="coracoes">
                                <img src="img/Vector (1).png" alt="curtir">
                            </div>
                        </div>
                        <div class="container">
                            <div class="users-comment">
                                <h4>Marcos_Jeeves</h4>
                                <p>thank you!</p>
                            </div>
                            <div class="coracoes">
                                <img src="img/Vector (1).png" alt="curtir">
                            </div>
                        </div>
                        <div class="container">
                            <div class="users-comment">
                                <h4>Adriano_Stark</h4>
                                <p>Quando eu adormecer, vou sonhar com você. É sempre você. </p>
                            </div>
                            <div class="coracoes">
                                <img src="img/Vector (1).png" alt="curtir">
                            </div>
                        </div>
                        <div class="container">
                            <div class="users-comment">
                                <h4>Marcos_Jeeves</h4>
                                <p>Um tapa na gostosa >:)!!! yes baby!</p>
                            </div>
                            <div class="coracoes">
                                <img src="img/Vector (1).png" alt="curtir">
                            </div>
                        </div>
                        <div class="resto">
                            <p>Ver todos os 69 Comentários</p>
                        </div>

                    </div>
                </div>
        </section>
    </main>
</body>
</html>