@{
    ViewData["Title"] = "Home Page";
}

<html lang="pt-br">

<head>


</head>

<body>
    <section>
        <div class="storiesperfil">
            <div class="stories">
                <div class="stories1">
                    <img src="imagens/vin-diesel 1.svg" alt="stories 2">
                    <p>
                        vin_diesel
                    </p>
                </div>
                <div class="stories1">
                    <img src="imagens/gabigordo 1.svg" alt="stories 2">
                    <p>
                        gabigordo
                    </p>
                </div>
                <div class="stories1">
                    <img src="imagens/will-baiano 1.svg" alt="stories 3">
                    <p>
                        will_baiano
                    </p>
                </div>
                <div class="stories1">
                    <img src="imagens/tony_stark 1.svg" alt="stories 4">
                    <p>
                        adriano_stark
                    </p>
                </div>
                <div class="stories1">
                    <img src="imagens/pele 1.svg" alt="stories 5">
                    <p>
                        King_pelé
                    </p>
                </div>
                <div class="stories1">
                    <img src="imagens/samuel-rosa-bebê 1.svg" alt="stories 6">
                    <p>
                        samuel_rosa
                    </p>
                </div>
                <div class="stories1">
                    <img src="imagens/chaves_metal 1.svg" alt="stories 7">
                    <p>
                        chaves_metal
                    </p>
                </div>
            </div>
            <div class="perfil2">
                <div class="photo">
                    <img src="imagens/thank-you 2.svg" alt="Foto de perfil">
                </div>
                <div class="texto-perfil">
                    <h2>
                        Yes_baby
                    </h2>
                    <p>
                        Marcos Jeeves
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="Posts">
        <div class="postar">
            <div class="foto-postar">
                <img src="imagens/thank-you 3.svg" alt="Foto de perfil">
                <h1>
                    Postar
                </h1>
            </div>
            <div class="botoes-postar">
                <form method="POST" action='@Url.Action("Publicar")'>
                    <div class="desc">
                        <input type="text" name="Subtitle" id="">
                    </div>

                    <input type="file" value="Escolha a imagem" nome="Image" class="b-img">
                    <input type="submit" class="b-img2">Postar</input>
                </form>
            </div>
        </div>


    </section>
</body>
