* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
:root {
/* esse ":root" será uma "raiz" para podermos salvar cores e outras coisas */
/* isso funciona como se fosse um "pote de tinta", temos aqui um pote de tinta branca-acinzentada que será usado no background dela, porém pode ser usada em outros lugares, mas não é muito recomendável por conta da organização */

--mainBackground: #fafafa; /* cor de fundo e de dentro dos inputs */
--squareBackground: #ffffff; /* cor das áreas de formulários, por exemplo, dentro de onde o usuário vai preencher seus dados(Cadastro) ou entrar na conta(Login) */
--squareBorders: #dbdbdb; /* cor das bordas das áreas de formulário, por exemplo */
--preFormLetters: #8e8e8e; /* cor das letras do pré formulário */
--inputBordersNotClicked: #eeeeee; /* cor das bordas dos inputs quando "NÃO CLICADOS"*/
--inputBorderClicked: #a7a7a7; /* cor das bordas dos inputs quando "CLICADOS" */
--inputLetters: #8d9191; /* cor das letras que ficam dentro dos inputs especificando o que é para preencher dentro */
--buttonsLetters: #ffffff; /* cor das letras de dentro do botão, por exemplo, de Cadastro e Login */
--buttonsNotClicked: #0095f6; /* cor dos botões de cadastro e login ainda "NÃO CLICADOS" */
--buttonsClicked: #4cb5f9; /* cor dos botões de cadastro e login ainda "CLICADOS" */
--posFormLetters: #8b8d9b; /* cor das letras que estão pós formulário que NÃO SÃO HYPERLINKs */
--posFormHyperLinkLetters: #898e8b; /* cor das letras que estão pós formulário que SÃO HYPERLINKs */
--buttonQuestion: #0095f6; /* cor do "botão" de pergunta, por exemplo, "Conecte-se"(da página de Cadastro) e o "Cadastre-se"(da página de Login) */

--titleFont: "BillabongW00-Regular", serif; /* fonte da logo "InstaDev" */
--textFont: "Segoe UI", Tahoma, Verdana, sans-serif; /* fonte dos textos */
}

body { /* fundo */
background-color: var(--mainBackground);
}

#conteudo { /* centralização da primeira caixa de formulário */
margin-top: 162px;
display: flex;
align-items: center;
justify-content: space-around;
}

.centraform { /* primeira caixa de formulário */
width: 350px;
height: 380px;
background-color: var(--squareBackground);
display: flex;
justify-content: center;
align-items: center;
border: 1px solid var(--squareBorders);
}
.centralizarlogo {
user-select: none;
margin-bottom: 3em;
display: flex;
justify-content: space-around;
}

.erro { /* erro se colocar o login errado */
color: #ff0000;
padding-left: 45px;
}

.input { /* primeiro input */
width: 267px;
height: 35px;
margin-left: 42px;
margin-top: 5px;
background-color: var(--mainBackground);
border: 1px solid #eeeeee;
border-radius: 3px;
font-family: var(--textFont);
font-size: 13px;
color: var(--inputLetters);
padding-left: 10px;
}
.input:focus { /* focus do primeiro input */
border: 1px solid var(--inputBorderClicked);
}

.botao { /* botão de entrar */
font-family: var(--textFont);
font-weight: bolder;
font-size: 15px;
width: 267px;
height: 35px;
background-color: var(--buttonsNotClicked);
border-radius: 6px;
padding: 9px 50px;
color: var(--squareBackground);
margin-left: 42px;
margin-top: 9px;
border: 0;
}
.botao:focus{
border: 0;
background-color: var(--buttonsClicked);
}

.centralizarlink { /* segunda caixa de formulário */
width: 350px;
height: 75px;
background-color: var(--squareBackground);
display: flex;
justify-content: center;
align-items: center;
border: 1px solid var(--squareBorders);
}

.centralizarlink a { /* hyperlink da segunda caixa do formulário */
color: var(--buttonsNotClicked);
text-decoration: none;
}

.esqueciasenha {
margin-left: 120px;
margin-top: 24px;
}

.esqueciasenha a {
color: var(--buttonsNotClicked);
text-decoration: none;
}

.testehr { /* linha com o OU */
display: flex;
justify-content: space-evenly;
align-items: center;
margin-top: 30px;
}
.testehr hr {
width: 100px;
}

.centralizarcadastrese { /* centralizando a segunda caixa de formulário */
margin-top: 10px;
display: flex;
justify-content: center;
align-items: center;
}
.centrafoot { /* centralizando as img de download do instagram */
display: flex;
justify-content: center;
align-items: flex-end;
}
.frasenocentro { /* centralizando a frase "Obtenha o aplicativo." */
margin-top: 20px;
margin-bottom: 20px;
display: flex;
justify-content: center;
}